@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Change the scrollbar color to blue */
 ::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: blue; /* Set the color of the scrollbar handle */
    border-radius: 4px; /* Set border radius */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Set the background color of the scrollbar track */
  }
  
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #222661;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }